// _typography.scss

// Base font
body {
	color 		: $base-font-color;
	font-family	: $base-family;
	font-size 	: $base-font-size;
	font-weight : $base-weight;
	line-height : $base-height;
}

p { margin  	: 0 0 rem($base-margin); }

// Headings
h1, h2, h3, h4, h5, h6 {
	color 		: $headings-color;
	font-family : $headings-family;
	line-height : $headings-height;
	font-weight : $headings-weight;
	margin 		: rem($headings-margin) 0;
}

h1 { font-size 	: $font-size-h1; }
h2 { font-size 	: $font-size-h2; }
h3 { font-size 	: $font-size-h3; }
h4 { font-size 	: $font-size-h4; }
h5 { font-size 	: $font-size-h5; }
h6 { font-size 	: $font-size-h6; }

// Hyperlinks

// Code

// Font Size Classes
.big 	{ font-size : $big-font; 	}
.medium { font-size : $medium-font; }
.small 	{ font-size : $small-font; 	}