// _functions.scss

// Unit stripper
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// PX to EM
@function em($px, $base: $base-font-size) {
	$px-out: strip-units($px);
    @return ($px-out / $base) * 1em;
}

// PX to REM
@function rem($px) {
	$px-out: strip-units($px);
	$rem-size: $px-out / 16;
    @return #{$rem-size}rem;
}